<gf-dialog-header
  [deviceType]="data.deviceType"
  [title]="dialogTitle"
  (closeButtonClicked)="onCancel()"
/>

<div class="flex-grow-1" mat-dialog-content>
  <mat-stepper
    #stepper
    animationDuration="0ms"
    [linear]="true"
    [orientation]="stepperOrientation"
    [selectedIndex]="importStep"
    (selectionChange)="onImportStepChange($event)"
  >
    <mat-step [completed]="importStep > 0">
      <ng-template matStepLabel>
        @if (mode === 'DIVIDEND') {
          <ng-container i18n>Select Holding</ng-container>
        } @else {
          <ng-container i18n>Select File</ng-container>
        }
      </ng-template>
      <div>
        @if (mode === 'DIVIDEND') {
          <form
            class="pt-3"
            [formGroup]="assetProfileForm"
            (ngSubmit)="onLoadDividends(stepper)"
          >
            <mat-form-field appearance="outline" class="w-100">
              <mat-label i18n>Holding</mat-label>
              <mat-select formControlName="assetProfileIdentifier">
                <mat-select-trigger>{{
                  assetProfileForm.get('assetProfileIdentifier')?.value
                    ?.assetProfile?.name
                }}</mat-select-trigger>
                @for (holding of holdings; track holding) {
                  <mat-option
                    class="line-height-1"
                    [value]="{
                      assetProfile: {
                        dataSource: holding.assetProfile.dataSource,
                        name: holding.assetProfile.name,
                        symbol: holding.assetProfile.symbol
                      }
                    }"
                  >
                    <span
                      ><b>{{ holding.assetProfile.name }}</b></span
                    >
                    <br />
                    <small class="text-muted"
                      >{{ holding.assetProfile.symbol }} ·
                      {{ holding.assetProfile.currency }}</small
                    >
                  </mat-option>
                }
              </mat-select>
              @if (isLoading) {
                <mat-spinner class="position-absolute" [diameter]="20" />
              }
            </mat-form-field>
            <div class="d-flex flex-column justify-content-center">
              <button
                color="primary"
                mat-flat-button
                type="submit"
                [disabled]="!assetProfileForm.valid"
              >
                <span i18n>Load Dividends</span>
              </button>
            </div>
          </form>
        } @else {
          <div class="d-flex flex-column justify-content-center">
            <button
              class="drop-area p-4 text-center text-muted"
              gfFileDrop
              (click)="onSelectFile(stepper)"
              (filesDropped)="onFilesDropped({ stepper, files: $event })"
            >
              <div
                class="align-items-center d-flex flex-column justify-content-center"
              >
                <ion-icon class="cloud-icon" name="cloud-upload-outline" />
                <span i18n>Choose or drop a file here</span>
              </div>
            </button>
            <p class="mb-0 mt-3 text-center">
              <small>
                <span class="mr-1" i18n
                  >The following file formats are supported:</span
                >
                <a
                  href="https://github.com/ghostfolio/ghostfolio/blob/main/test/import/ok/sample.csv"
                  target="_blank"
                  >CSV</a
                >
                <span class="mx-1" i18n>or</span>
                <a
                  href="https://github.com/ghostfolio/ghostfolio/blob/main/test/import/ok/sample.json"
                  target="_blank"
                  >JSON</a
                >
              </small>
            </p>
          </div>
        }
      </div>
    </mat-step>

    <mat-step [completed]="importStep > 1">
      <ng-template matStepLabel>
        <ng-container i18n>Select Accounts</ng-container>
      </ng-template>
      <div>
        @if (errorMessages?.length === 0) {
          @if (accountsDataSource) {
            <table
              class="gf-table w-100"
              mat-table
              [dataSource]="accountsDataSource"
            >
              <ng-container matColumnDef="select" sticky>
                <th *matHeaderCellDef class="px-1" mat-header-cell>
                  <mat-checkbox
                    color="primary"
                    [checked]="
                      accountsDataSource.data.length > 0 &&
                      selectedAccounts.selected.length === accountsDataSource.data.length
                    "
                    [indeterminate]="
                      selectedAccounts.selected.length > 0 &&
                      selectedAccounts.selected.length < accountsDataSource.data.length
                    "
                    (change)="$event ? selectedAccounts.selected.length === accountsDataSource.data.length ? selectedAccounts.clear() : accountsDataSource.data.forEach(a => selectedAccounts.select(a)) : null"
                  />
                </th>
                <td *matCellDef="let account" class="px-1" mat-cell>
                  <mat-checkbox
                    color="primary"
                    [checked]="selectedAccounts.isSelected(account)"
                    (change)="$event ? selectedAccounts.toggle(account) : null"
                    (click)="$event.stopPropagation()"
                  />
                </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th *matHeaderCellDef class="px-1" mat-header-cell>
                  <ng-container i18n>Name</ng-container>
                </th>
                <td *matCellDef="let account" class="px-1" mat-cell>
                  <div class="d-flex">
                    <gf-entity-logo
                      class="mr-1"
                      [hasPlaceholder]="true"
                      [tooltip]="account.platform?.name"
                      [url]="account.platform?.url"
                    />
                    <span class="d-none d-lg-block text-nowrap">{{
                      account.name
                    }}</span>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="currency">
                <th *matHeaderCellDef class="px-1" mat-header-cell>
                  <ng-container i18n>Currency</ng-container>
                </th>
                <td *matCellDef="let account" class="px-1" mat-cell>
                  {{ account.currency }}
                </td>
              </ng-container>

              <ng-container matColumnDef="balances">
                <th *matHeaderCellDef class="px-1" mat-header-cell>
                  <ng-container i18n>Balances</ng-container>
                </th>
                <td *matCellDef="let account" class="px-1" mat-cell>
                  @if (account.balances?.length) {
                    <div class="d-flex flex-wrap gap-1">
                      @for (balance of account.balances; track balance.date) {
                        <gf-value
                          [isCurrency]="true"
                          [locale]="data?.user?.settings?.locale"
                          [value]="balance.value"
                        />
                        <small class="text-muted align-self-center">{{
                          balance.date | date:'yyyy-MM-dd'
                        }}</small>
                      }
                    </div>
                  }
                </td>
              </ng-container>

              <ng-container matColumnDef="platform">
                <th *matHeaderCellDef class="px-1" mat-header-cell>
                  <ng-container i18n>Platform</ng-container>
                </th>
                <td *matCellDef="let account" class="px-1" mat-cell>
                  <div class="d-flex">
                    <gf-entity-logo
                      class="mr-1"
                      [hasPlaceholder]="true"
                      [tooltip]="account.platform?.name"
                      [url]="account.platform?.url"
                    />
                    <span class="d-none d-lg-block text-nowrap">{{
                      account.platform?.name
                    }}</span>
                  </div>
                </td>
              </ng-container>

              <tr *matHeaderRowDef="['select', 'name', 'currency', 'balances', 'platform']" mat-header-row></tr>
              <tr *matRowDef="let row; columns: ['select', 'name', 'currency', 'balances', 'platform']" mat-row></tr>
            </table>
          } @else {
            <div class="text-center p-4 text-muted">
              <span i18n>No accounts found in the import file</span>
            </div>
          }
          <div class="d-flex justify-content-end mt-3">
            <button mat-button (click)="onReset(stepper)">
              <ng-container i18n>Back</ng-container>
            </button>
            <button
              class="ml-1"
              color="primary"
              mat-flat-button
              [disabled]="selectedAccounts.selected.length === 0"
              (click)="onAccountsSelected(stepper)"
            >
              <ng-container i18n>Continue</ng-container>
            </button>
          </div>
        } @else {
          <div class="pt-3">
            <mat-accordion displayMode="flat">
              @for (message of errorMessages; track message; let i = $index) {
                <mat-expansion-panel [disabled]="!details[i]">
                  <mat-expansion-panel-header class="pl-1">
                    <mat-panel-title class="w-100">
                      <div class="d-flex w-100">
                        <div class="align-items-center d-flex mr-2">
                          <ion-icon name="warning-outline" />
                        </div>
                        <div class="text-truncate" title="{{ message }}">
                          {{ message }}
                        </div>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  @if (details[i]) {
                    <pre class="m-0"><code>{{ details[i] | json }}</code></pre>
                  }
                </mat-expansion-panel>
              }
            </mat-accordion>
          </div>
          <div class="d-flex justify-content-end mt-3">
            <button mat-button (click)="onReset(stepper)">
              <ng-container i18n>Back</ng-container>
            </button>
            <button
              class="ml-1"
              color="primary"
              mat-flat-button
              [disabled]="true"
            >
              <ng-container i18n>Continue</ng-container>
            </button>
          </div>
        }
      </div>
    </mat-step>

    <mat-step [completed]="importStep === ImportStep.SELECT_ACTIVITIES">
      <ng-template matStepLabel>
        @if (mode === 'DIVIDEND') {
          <ng-container i18n>Select Dividends</ng-container>
        } @else {
          <ng-container i18n>Select Activities</ng-container>
        }
      </ng-template>
      <div>
        @if (errorMessages?.length === 0) {
          @if (importStep === ImportStep.SELECT_ACTIVITIES) {
            <gf-activities-table
              [baseCurrency]="data?.user?.settings?.baseCurrency"
              [dataSource]="dataSource"
              [deviceType]="data?.deviceType"
              [hasPermissionToCreateActivity]="false"
              [hasPermissionToDeleteActivity]="false"
              [hasPermissionToExportActivities]="false"
              [hasPermissionToFilter]="false"
              [hasPermissionToOpenDetails]="false"
              [locale]="data?.user?.settings?.locale"
              [pageIndex]="pageIndex"
              [pageSize]="pageSize"
              [showActions]="false"
              [showCheckbox]="true"
              [showSymbolColumn]="false"
              [sortColumn]="sortColumn"
              [sortDirection]="sortDirection"
              [sortDisabled]="true"
              [totalItems]="totalItems"
              (pageChanged)="onPageChanged($event)"
              (selectedActivities)="updateSelection($event)"
            />
          }
          <div class="d-flex justify-content-end mt-3">
            <button mat-button (click)="onReset(stepper)">
              <ng-container i18n>Back</ng-container>
            </button>
            <button
              class="ml-1"
              color="primary"
              mat-flat-button
              [disabled]="!selectedActivities?.length"
              (click)="onImportActivities()"
            >
              <ng-container i18n>Import</ng-container>
            </button>
          </div>
        } @else {
          <div class="pt-3">
            <mat-accordion displayMode="flat">
              @for (message of errorMessages; track message; let i = $index) {
                <mat-expansion-panel [disabled]="!details[i]">
                  <mat-expansion-panel-header class="pl-1">
                    <mat-panel-title class="w-100">
                      <div class="d-flex w-100">
                        <div class="align-items-center d-flex mr-2">
                          <ion-icon name="warning-outline" />
                        </div>
                        <div class="text-truncate" title="{{ message }}">
                          {{ message }}
                        </div>
                      </div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  @if (details[i]) {
                    <pre class="m-0"><code>{{ details[i] | json }}</code></pre>
                  }
                </mat-expansion-panel>
              }
            </mat-accordion>
          </div>
          <div class="d-flex justify-content-end mt-3">
            <button mat-button (click)="onReset(stepper)">
              <ng-container i18n>Back</ng-container>
            </button>
            <button
              class="ml-1"
              color="primary"
              mat-flat-button
              [disabled]="true"
            >
              <ng-container i18n>Import</ng-container>
            </button>
          </div>
        }
      </div>
    </mat-step>
  </mat-stepper>
</div>

<gf-dialog-footer
  [deviceType]="data.deviceType"
  (closeButtonClicked)="onCancel()"
/>
